
.queue-title {
  text-align: left;
  margin: 0;
  padding-left: 3%;
  font-weight: bold;
}
.infinite-list {
  height: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.infinite-list .infinite-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: var(--el-color-primary-light-9);
  margin: 10px;
  color: var(--el-color-primary);
}
.infinite-list .infinite-list-item + .list-item {
  margin-top: 10px;
}

.item-details {
  width: 50%;
  padding-left: 3%;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.item-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0%;
  text-align: left;
  color: black;
}

.item-text {
  font-size: 12px;
  margin: 0%;
  text-align: left;
  color: black;
  text-overflow: ellipsis;
}

.like-button-div {
  margin-right: 2%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
